<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.palaver">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:hardwareAccelerated="false"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="de.uni_due.paluno.se.palaver.activity.LoginActivity" />
        <activity android:name="de.uni_due.paluno.se.palaver.activity.RegisterActivity" /> <!-- ist  das wichtig? -->
        <activity
            android:name="de.uni_due.paluno.se.palaver.activity.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="de.uni_due.paluno.se.palaver.activity.ChatActivity" />
        <activity android:name="de.uni_due.paluno.se.palaver.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.uni_due.paluno.se.palaver.activity.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"/>
        <service
            android:name="de.uni_due.paluno.se.palaver.utils.PalaverFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>